.about-bg {
  background: url('../../assets/about.jpg') no-repeat;
  background-size: contain;
  padding: 205px 40px 20px 40px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about2-bg {
  background: url('../../assets/about_2.jpg') no-repeat;
  background-size: contain;
  width: 380px;
  height: 300px;
}

.marb {
  margin-bottom: 40px;
}

.bg-icon {
  background: rgb(252, 151, 151);
}