.pt {
  padding-top: 200px;
}

.slide {
  background-size: contain;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.brd-r {
  border-bottom: 2px solid var(--ion-color-danger);
  width: max-content;
}