<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-text-center ion-padding">
      <div class="font-size-12 color-grey mar-b-10 wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
        GALLERY</div>

      <div class="font-size-30 wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.4s">Check <span
          class="color-red">Our Gallery</span></div>
    </div>
  </div>


  <div>
    <app-swiper class="p-b-10 wow heartBeat" data-wow-duration="1.3s" data-wow-delay="0.2s">
      <ion-slide *ngFor="let g of gallery">
        <img [src]="g.icon" class="brd-rad-5" width="100%" alt="">
      </ion-slide>
    </app-swiper>
  </div>

  <app-footer></app-footer>
</ion-content>