<div class="ion-padding">
  <div class="ion-text-center ion-padding mar-b-10">
    <div class="font-size-12 color-grey mar-b-10 wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">MENU
    </div>

    <div class="font-size-30 wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.4s"><span
        class="color-red">{{title}}</span></div>
  </div>

  <div class="marb ion-text-center" *ngFor="let m of menu">
    <img class="mar-b-10 wow heartBeat" data-wow-duration="1.3s" data-wow-delay="0.2s" width="200px" [src]="m.icon"
      alt="">

    <div class="title wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.2s"> {{m.title}} </div>

    <div class="mar-b-10 font-size-14 color-grey wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.4s">
      {{m.des}} </div>

    <div class="color-red title wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.6s"> {{m.price}} </div>
  </div>
</div>