.watch:hover {
  color: var(--ion-color-danger);
}

.watch {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}

.px {
  padding: 55px 0px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mb {
  margin-bottom: 25px;
}

.brd-rr {
  border-left: 4px solid var(--ion-color-danger);
}

.pd {
  padding: 40px;
}

.brd-i {
  border: 5px solid white;
}