<ion-header>
  <app-header title="Booking"></app-header>
</ion-header>

<ion-content>
  <div class="pb-50">
    <div class="ion-padding">
      <div class="ion-text-center ion-padding">
        <div class="font-size-12 color-grey mar-b-10 wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
          BOOK A TABLE</div>
        <div class="font-size-30  wow bounceInDown" data-wow-duration="1.3s" data-wow-delay="0.4s">Book <span
            class="color-red">Your Stay</span> With Us </div>
      </div>
    </div>

    <div class="ion-no-padding mar-10">
      <div class="booking-bg brd-tlr wow heartBeat" data-wow-duration="1.5s" data-wow-delay=".3s"></div>

      <ion-list class="ion-no-padding pad-15 bg-app brd-blr" lines="none">
        <ion-item class="ion-no-padding brd brd-rad-5 bg-light pad-5 mar-b-10 wow bounceInRight"
          data-wow-duration="1.5s" data-wow-delay=".2s">
          <ion-label position="floating">Your Name</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding  brd brd-rad-5 bg-light pad-5 mar-b-10 wow bounceInRight"
          data-wow-duration="1.5s" data-wow-delay=".4s">
          <ion-label position="floating">Your Email</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding  brd brd-rad-5 bg-light pad-5 mar-b-10 wow bounceInRight"
          data-wow-duration="1.5s" data-wow-delay=".6s">
          <ion-label position="floating">Your Phone</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding  brd brd-rad-5 bg-light pad-5 mar-b-10 wow bounceInRight"
          data-wow-duration="1.5s" data-wow-delay=".8s">
          <ion-label position="floating">Date</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding  brd brd-rad-5 bg-light pad-5 mar-b-10 wow bounceInRight"
          data-wow-duration="1.5s" data-wow-delay="1s">
          <ion-label position="floating">Time</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding  brd brd-rad-5 bg-light pad-5 mar-b-10 wow bounceInRight"
          data-wow-duration="1.5s" data-wow-delay="1.2s">
          <ion-label position="floating"># of people</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding  brd brd-rad-5 bg-light pad-5 mar-b-10 wow bounceInRight"
          data-wow-duration="1.5s" data-wow-delay="1.4s">
          <ion-label position="floating">Message</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>

        <div class="ion-text-center wow bounceInUp" data-wow-duration="1.6s" data-wow-delay="1.6s">
          <ion-button size="medium" color="danger" shape="round">Book a Table</ion-button>
        </div>
      </ion-list>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>